.navbar {
  background-color: #616161;

  display: flex;
  align-items: center;

  height: 41px;
  padding: 0px 20px;

  top: 0;
  left: 0;
  right: 0;

  z-index: 10;

  &__title {
    color: #eee;
    margin: 0;
    font-size: 15px;
    font-weight: 500;
  }
}
